*{
  box-sizing: border-box;
  font-family: "SpaceMono";
}
:root{
  --bg: #0a0810;
  --fg: #ffffff;
  --accent: #fb25ff;
}
@font-face{
  font-family: "SpaceMono";
  src: url("./assets/SpaceMono-Regular.ttf");
}
@font-face{
  font-family: "SpaceMonoBold";
  src: url("./assets/SpaceMono-Bold.ttf");
}
body {
  height: 100vh;
  background: var(--bg);
  color: var(--fg);
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}
nav{
  width: 100%;
  background:  var(--accent);
  height: 3.5rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
}
.container_nav_link {
  font-size: 1.875em;
  font-family: "SpaceMonoBold";
  width: clamp(300px, 80%, 540px);
  display:flex; 
  justify-content: space-between;
}
.nav_link{
  font-family: "SpaceMonoBold";
  text-decoration: none;
  color: var(--bg);
  font-size: inherit;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
}
main{
  height: 100%;
  display: flex;
  justify-content: center;
  place-content: center;
}
.container_main{
  width: clamp(300px, 80%, 540px);
}
.item_main{
  display:grid;
}
h2 {
  font-family: "SpaceMonoBold";
}
h2::before{
  content: "# ";
  color: var(--accent);
}
ul{
  padding-left: 8ch;
}
li{
  color: var(--fg);
  padding: 0;
  margin: 0;
  list-style-type: "1 drxwr "
}
.projects_link,
.contacts_link{
  text-decoration: none;
  color: #fb25ff;
  font-family: "SpaceMonoBold";
}
.projects_link:hover,
.contacts_link:hover
{
  text-decoration: underline;
}

